/*Size text*/
html { font-size: 62.5%; }
body { font-size: 1.6rem; }

/*Full Website Rules*/
body { 
  background-color: rgb(131, 96, 44);
}

header, nav {
  background-color: rgb(255,255,255);
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
}