h1, main > h2 {
  text-align: center;
}

h2, h3 {
  padding-left: 60px;
}

.events {
  display: flex;
  justify-content: center; 
}

.schedule {
  flex-basis: 40%;
}

.schedule p {
  text-align: center;
}

.house-games ul {
  padding-left: 60px;
  columns: 2;
}

.register {
  margin-left: 10%;
  padding: 20px;
  font-size: 2.6rem;
  font-weight: bold;
  width: 20%;
  background-color: gray;
  border: 2px solid black;
}

.register a:hover {
  color: white;
}

.house-games {
  display: flex;
  justify-content: space-around;
}

.house-games ul {
  display: inline-block;
}

/*For responsive Layout*/
@media (max-width: 650px) {
  .events, .house-games {
    flex-flow: column;
  }
}