.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/* highlight link text */
#links-nostore a:hover h2, #links-store a:hover h3 {
  color: rgb(255, 173, 22);
}

#links-nostore {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#links-nostore img, #links-store img {
  width: 100%;
  position: relative;
  z-index: 0;
}

/* max heights for link sections set separatetly to minimize distortion of images */
#links-nostore img {
  max-height: 235px;
}

#links-nostore div {
  flex-basis: 40%;
}

#links-store img {
  max-height: 225px;
}

/* z-index used to ensure text displays above images for page links */
#links-nostore h2, #links-store h2, #links-store h3 {
  text-align: center;
  z-index: 1;
}

.register {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(173, 101, 60, 0.637);
  /* flex display used to ensure clickable area of link is contained to button */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Set width and height so entire background is clickable */
.register a {
  width: 100%;
  height: 100%;
}

.register:hover {
  background-color: rgb(177, 90, 55);
}

#links-store>div {
  display: flex;
  justify-content: center;
}

#links-store div div {
  flex-basis: 30%;
}

/*position store links above their respective images*/
#links-store h3, #links-nostore h2 {
  position: relative;
  color: rgb(255, 255, 255);
}

.events-link h2, .menu-link h2 {
  top: 20%;
}

#links-store img {
  bottom: 15%;
}

#links-store h3 {
  right: 20%;
}