main {
  display: flex;
  flex-direction: column;
}

h1 {
  align-self: center;
}

.menu {
  display: flex;
  justify-content: center;
}

caption {
  font-size: 2.6rem;
  font-weight: bold;
}

.menu section { padding: 0 1%; }

.note {
  align-self: center;
  text-align: right;
}