h1, h2 {
  text-align: center;
}

/* Display item CSS */
figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

figure img {
  width: auto;
  max-width: 100%;
  max-height: 250px;
}

.price {
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
}

/* Featured item section */
#featured {
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
}

h2 {
  flex-basis: 100%;
}

#featured-products {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#featured figure {
  min-width: 15%;
  max-height: 15%;
  padding: 0 100px;
}

/* Store tabs */
.tab {
  overflow: hidden;
  border: 2px solid black;
  /* top border set to none to avoid making 4px border with #featured */
  border-top: none;
  background-color: #f1f1f1;
  width: 90%;
  margin: 0 auto;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  width: 90%;
  /* margin used to ensure border matches with rest of content */
  margin: 0 auto 10px;
  border: 2px solid rgb(0, 0, 0);
  border-top: none;
  max-height: 1000px;
  overflow: auto;
  flex-wrap: wrap;
}

.note {
  flex-basis: 100%;
  text-align: center;
}

.tabcontent figure {
  flex-basis: 18%;
}