/*to center tab headings*/
h1 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

h2, .tabcontent p {
  text-align: center;
  flex-basis: 100%;
}

/*featured item section*/
#featured {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  overflow-x: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#featured figure {
  min-width: 30%;
}

#featured img {
  width: 150px;
  vertical-align: top;
}

/*For store page tab look and functionality*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 90%;
  margin: 0 auto;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  width: 90%;
  margin: 0 auto 10px;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 1000px;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

figure {
  flex-basis: 18%;
}

.tabcontent img{
  width: 100%;
}