/*Size text*/
html { font-size: 62.5%; }
body { 
  font-size: 1.6rem;
  font-family: Arimo, sans-serif; 
}

h1, h2, h3 { font-family: Volkhov, serif; }

/*Full Website Rules*/
body { 
  background-color: rgb(131, 96, 44);
}

header, nav {
  background-color: rgb(255,255,255);
}

header {
  display: flex;
  align-items: center;
}

header a img {width: 80px;}

header nav {
  flex-basis: 90%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

nav a {
  padding: 40px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

footer {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

.facebook, .contact {
  align-self: center;
}

#map {
  width: 400px;
  height: 250px;
}