/* Size text and set main font families */
html { font-size: 62.5%; }
body { 
  font-size: 1.6rem;
  font-family: Arimo, sans-serif; 
}

h1, h2, h3 { font-family: Volkhov, serif; }

/* Remove underlines from all links */
a {
  text-decoration: none;
}

/* Main website Colours */
body { 
  background-color: rgb(131, 96, 44);
}

header, nav {
  background-color: rgb(255,255,255);
}

/* Position Icon and nav bar */
header {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a img {width: 100px;}

nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.show-items {
  display: flex;
}

nav a {
  padding: 40px;
  font-size: 2rem;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

/* hide icons for responsive nav bar by default */
.toggle, .menu-label {
  display: none;
}

.menu-label {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Vertical list of nav links in footer */
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

 .contact {
  align-self: center;
}

#map {
  width: 250px;
  height: 150px;
}

/* For responsive nav bar and footer*/
@media (max-width: 650px) {
  nav .toggle, nav .menu-label {
    display: flex;
    align-self: center;
  }

  nav .toggle {
    position: absolute;
    margin-left: 55%;
    cursor: pointer;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  #nav-items a {
    padding: 0;
    font-size: 1.65rem;
  }

  footer {
    flex-direction: column;
  }

  iframe {
    margin-top: 10px;
    align-self: center;
  }

  .facebook {
    align-self: flex-end;
  }
}